services:
    config:
        build: ./Config/config-server
        container_name: config
        ports:
            - 8888:8888
        networks:
            - 'mynet'

    eureka:
        build: ./Gateway/eureka-server
        container_name: eureka
        ports:
            - 8761:8761
        networks:
            - 'mynet'
        depends_on:
            - config

    gateway:
        build: ./Gateway/gateway-server
        container_name: gateway
        ports:
            - 8080:8080
        networks:
            - 'mynet'
        depends_on:
            - eureka

    ordenes:
        build: ./Microservicios/orden
        container_name: ordenes
        expose:
            - '9060'
        environment:
            - SPRING_DATASOURCE_URL=jdbc:mysql://mysql-db:3306/${MYSQL_ORDEN_DB}
            - SPRING_DATASOURCE_USERNAME=${MYSQL_ORDEN_USER}
            - SPRING_DATASOURCE_PASSWORD=${MYSQL_ORDEN_PASS}
        depends_on:
            - config
            - eureka
            - gateway
            - productos
            - mysql-db
        networks:
            - 'mynet'

    productos:
        build: ./Microservicios/producto
        container_name: productos
        expose:
            - '9070'
        networks:
            - 'mynet'
        environment:
            - SPRING_DATASOURCE_URL=jdbc:mysql://mysql-db-products:3306/${MYSQL_PRODUCTO_DB}
            - SPRING_DATASOURCE_USERNAME=${MYSQL_PRODUCTO_USER}
            - SPRING_DATASOURCE_PASSWORD=${MYSQL_PRODUCTO_PASS}
        depends_on:
            - config
            - eureka
            - gateway
            - mysql-db-products  

    mysql-db:
        image: mysql:8.0
        environment:
            MYSQL_ROOT_PASSWORD: ${MYSQL_ORDEN_ROOT_PASS}
            MYSQL_DATABASE: ${MYSQL_ORDEN_DB}
            MYSQL_USER: ${MYSQL_ORDEN_USER}
            MYSQL_PASSWORD: ${MYSQL_ORDEN_PASS}
        volumes:
            - ./init-orden.sql:/docker-entrypoint-initdb.d/init-orden.sql
            - mysql-data:/var/lib/mysql
        ports:
            - "3308:3306"
        networks:
            - 'mynet'

    mysql-db-products:
        image: mysql:8.0
        networks:
            - 'mynet'
        environment:
            MYSQL_ROOT_PASSWORD: ${MYSQL_PRODUCTO_ROOT_PASS}
            MYSQL_DATABASE: ${MYSQL_PRODUCTO_DB}
            MYSQL_USER: ${MYSQL_PRODUCTO_USER}
            MYSQL_PASSWORD: ${MYSQL_PRODUCTO_PASS}
        volumes:
            - ./init-producto.sql:/docker-entrypoint-initdb.d/init-producto.sql
            - mysql-data-products:/var/lib/mysql
        ports:
            - "3307:3306"

volumes:
    mysql-data: 
    mysql-data-products:
networks:
    mynet:
        driver: bridge